body {
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
    font-family: 'Sofadi One';
    padding:15px
  }
  
 /* Set black background color, white text and some padding */
 footer {
   background-color: black;
   color: yellow;
 }
 
 
