{% extends 'base.html'%}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
    integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
    crossorigin="anonymous"></script>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="offset-2">Account Statment</h3>
        <hr>
        <form action="" method="POST">
            <div class="form-group row">
                <label for="account_no" class="col-md-2">Account No</label>
                <input type="text" name="account_no" class="col-md-10 form-control">
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <input type="radio" name="trans_check" id="last_n" onclick="javascript:transctionCheck();"> Last N
                    transaction
                </div>
                <div class="col-md-12">
                    <input type="radio" name="trans_check" id="last_date" onclick="javascript:transctionCheck();"> From
                    date D1 to D2
                </div>
            </div>
            <div class="form-group row" style="display: none;" id="date_box">
                <div class="col-md-2">From</div>
                <div class="col-md-4">
                    <input type="date" name="start_date">
                </div>
                <div class="col-md-2">To</div>
                <div class="col-md-4">
                    <input type="date" name="end_date">
                </div>
            </div>
            <div class="form-group row" id="trans_box" style="display: block;">
                <label for="last_n_trans">Last N transactions</label>
                <select name="last_n_trans" id="last_n_trans">
                    <option disabled selected value> -- select an option -- </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Get Details" class="btn btn-outline-info">
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% if trns %}
<div class="container" id="content">
    <table class="table table-striped" id="headerTable">
        <thead>
            <tr>
                <th>Trns. Id</th>
                <th>Acc No</th>
                <th>Description</th>
                <th>Update Time</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for element in trns %}
            <tr>
                <td>{{element.transaction_id}}</td>
                <td>{{element.account_no}}</td>
                <td>{{element.description}}</td>
                <td>{{element.date_posted}}</td>
                <td>{{element.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row mb-4">
        <button class=" col-md-3 btn btn-outline-info mr-2" id="cmd" onclick="javascript:pdfCreaator();">Get
            PDF</button>
        <button class="col-md-3 btn btn-outline-info" id="btnExport" onclick="javascript:fnExcelReport();">Get
            Excel</button>
    </div>
    <!-- Captures the pdf and excel to be downloaded -->
    <iframe id="txtArea1" style="display:none"></iframe>
    <div id="editor"></div>
</div>
{% endif %}
<script>
    function transctionCheck() {
        if (document.getElementById('last_n').checked) {
            document.getElementById('date_box').style.display = 'none';
            document.getElementById('trans_box').style.display = 'block';
        } else {
            document.getElementById('date_box').style.display = 'block';
            document.getElementById('trans_box').style.display = 'none';
        }
    }

    function pdfCreaator() {
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        $('#cmd').click(function () {
            doc.fromHTML($('#content').html(), 15, 15, {
                'width': 250,
                'elementHandlers': specialElementHandlers
            });
            doc.save('accountstatment.pdf');
        });
    }

    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('headerTable'); // id of table

        for (j = 0; j < tab.rows.length; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>
{% endblock %}