{% extends 'base.html' %}
{% block content %}
<fiv class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.cus_id.label(class="form-control-label") }}
                    {{ form.cus_id(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-4"></div>
</fiv>

{% endblock content %}