{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="offset-2">Update Customer</h3>
        <hr>
        <form action="" method="POST">
            <div class="form-group row">
                <label for="customer_ssnid" class="col-md-2">Customer SSN ID</label>
                <input type="text" name="customer_ssnid" class="form-control col-md-10">
            </div>
            <div class="form-group row">
                <label for="customer_id" class="col-md-2">Customer ID</label>
                <input type="text" name="customer_id" class="form-control col-md-10">
            </div>
            <div class="form-group row">
                <label for="customer_name" class="col-md-2">Customer Name</label>
                <input type="text" name="customer_name" class="form-control col-md-10">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-info" name="Submit">
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}